<div id="<%= dom_id publication_card %>">
  <p>
    <strong>Url:</strong>
    <%= publication_card.url %>
  </p>

  <p>
    <strong>Interval:</strong>
    <%= publication_card.interval %>
  </p>

  <p>
    <strong>Count:</strong>
    <%= publication_card.count %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= publication_card.title %>
  </p>

  <p>
    <strong>Text:</strong>
    <%= publication_card.text %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= publication_card.status %>
  </p>

</div>
